@font-face {
    font-family: 'Prompt-Regular';
    src: url('../public/fonts/Prompt-Regular.ttf');
}

@font-face {
    font-family: 'Prompt-Medium';
    src: url('../public/fonts/Prompt-Medium.ttf');
}

@font-face {
    font-family: 'Prompt-Bold';
    src: url('../public/fonts/Prompt-Bold.ttf');
}

@font-face {
    font-family: 'SF-Pro-Text-Regular';
    src: url('../public/fonts/SF-Pro-Text-Regular.otf');
}

.title {
    font-family: 'SF-Pro-Text-Regular';
}

.text {
    font-family: 'Prompt-Medium';
}